In [1]:
# downloading resources and importing libraries
import nltk
nltk.download('punkt')
nltk.download('wordnet')

import pandas as pd
import numpy as np

from nltk.tokenize import sent_tokenize, word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer
import re

[nltk_data] Downloading package punkt to C:\Users\Deep
[nltk_data]     Shahane\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\Deep
[nltk_data]     Shahane\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [2]:
df = pd.read_csv('../internshala_dataset.csv')

In [3]:
# checking the data once
df.isnull().sum()

Title                  0
Company                0
Location               0
Duration               0
Stipend                0
Apply By               0
Applicants             0
Skills Required       68
Perks                  0
Number of Openings     0
Link                   0
dtype: int64

In [4]:
df['Skills Required']

0                                                    NaN
1                                                    NaN
2                             Android , Java , Python ,
3                                       Culinary Arts ,
4      .NET , JavaScript , Node.js , PHP , Python , R...
                             ...
457                                                  NaN
458                                                  NaN
459    English Proficiency (Spoken) , English Profici...
460    English Proficiency (Spoken) , English Profici...
461    English Proficiency (Spoken) , English Profici...
Name: Skills Required, Length: 462, dtype: object

In [5]:
df[df['Skills Required'].isnull()]

,Title,Company,Location,Duration,Stipend,Apply By,Applicants,Skills Required,Perks,Number of Openings,Link
0,Sales & Marketing,Decathlon Sport India Private Limited,Chennai,3 Months,10000 /month,19 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",4,https://internshala.com/internship/detail/sale...
1,Business Development (Sales),Aditya Birla Capital,Kolkata,3 Months,2000-3000 /month,16 Apr' 22,52 applicants,NaN,"Certificate , Letter of recommendation , Job o...",20,https://internshala.com/internship/detail/busi...
11,Digital Marketing,CreativeHigh,Work From Home,3 Months,2000 /month + Incentives,23 Apr' 22,78 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",5,https://internshala.com/internship/detail/digi...
13,Digital Marketing,Weboin,Chennai,6 Months,15000 /month,23 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",13,https://internshala.com/internship/detail/digi...
17,Marketing,Mazatron Enterprise,Noida,6 Months,5000 /month + Incentives,22 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",20,https://internshala.com/internship/detail/mark...
...,...,...,...,...,...,...,...,...,...,...,...
427,Human Resources (HR),Square Select Estates,Hyderabad,6 Months,7000 /month,11 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",1,https://internshala.com/internship/detail/huma...
444,Digital Marketing,Difam (Stallion),Hyderabad,2 Months,3000-8000 /month,10 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",4,https://internshala.com/internship/detail/digi...
453,Personal Assistance,MeetUniversity,Work From Home,6 Months,5000 /month,15 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Job o...",1,https://internshala.com/internship/detail/pers...
457,Human Resources (HR),Graygraph Technologies LLC,Ghaziabad,2 Months,10000 /month,12 Apr' 22,129 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",5,https://internshala.com/internship/detail/huma...
458,Business Development (Sales),Synergies Ananta,Jodhpur,2 Months,4000-9000 /month,15 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",10,https://internshala.com/internship/detail/busi...

In [6]:
df.at[1, 'Skills Required'] = 'Sales and Marketing'

In [7]:
df.loc[df['Title'] == 'Business Development (Sales)', 'Skills Required'] = 'Sales, Marketing'

In [8]:
# checking the data once
df.isnull().sum()

Title                  0
Company                0
Location               0
Duration               0
Stipend                0
Apply By               0
Applicants             0
Skills Required       55
Perks                  0
Number of Openings     0
Link                   0
dtype: int64

In [9]:
df.loc[df['Title'] == 'Human Resources (HR)', 'Skills Required'] = 'Problem Solving, Pulic Relations'

In [10]:
df.loc[df['Title'] == 'Graphic Design', 'Skills Required'] = 'Creativity'

In [11]:
df.loc[df['Title'] == 'Digital Marketing', 'Skills Required'] = 'Digital Marketing'

In [12]:
df.loc[df['Title'] == 'Marketing', 'Skills Required'] = 'Marketing'

In [13]:
# checking the data once
df.isnull().sum()

Title                  0
Company                0
Location               0
Duration               0
Stipend                0
Apply By               0
Applicants             0
Skills Required       33
Perks                  0
Number of Openings     0
Link                   0
dtype: int64

In [14]:
df[df['Skills Required'].isnull()]

,Title,Company,Location,Duration,Stipend,Apply By,Applicants,Skills Required,Perks,Number of Openings,Link
0,Sales & Marketing,Decathlon Sport India Private Limited,Chennai,3 Months,10000 /month,19 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",4,https://internshala.com/internship/detail/sale...
32,Video Making/Editing,Wrig Productions,Pune,2 Months,8000 /month,22 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Infor...",5,https://internshala.com/internship/detail/vide...
33,English Training,Zenith Consultants,Delhi,3 Months,20000 /month,22 Apr' 22,28 applicants,NaN,"Job offer ,",2,https://internshala.com/internship/detail/engl...
47,Electronics Engineering,Griden Power,Ahmedabad,6 Months,5000-8000 /month,22 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/elec...
58,Social Media Marketing,Weboin,Chennai,3 Months,15000 /month,21 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",18,https://internshala.com/internship/detail/soci...
63,Product Design (Bracelets & Jewelry),ForestFuse,Jaipur,3 Months,3000 /month + Incentives,21 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/prod...
87,Content Writing,Yink OPC Private Limited,Work From Home,2 Months,3000 /month,20 Apr' 22,186 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",3,https://internshala.com/internship/detail/cont...
117,Content Writing,Strategic Links,Work From Home,3 Months,3000-5000 /month,20 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/cont...
123,Firmware/Hardware Engineering,Fourth Frontier Technologies Private Limited,Bangalore,2 Months,25000 /month,20 Apr' 22,111 applicants,NaN,"Certificate , Job offer ,",2,https://internshala.com/internship/detail/firm...
132,Dance Facilitation,CreateJoy Technologies Private Limited,Work From Home,6 Months,10000-20000 /month,19 Apr' 22,71 applicants,NaN,"Certificate , Flexible work hours , Job offer ,",30,https://internshala.com/internship/detail/danc...
135,Fundraising (Financial Growth),Badlav Seva Samiti (NGO),Work From Home,1 Month,1000 /month + Incentives,19 Apr' 22,38 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",20,https://internshala.com/internship/detail/fund...
145,Wix Website Development,PassionWorks India,Work From Home,1 Month,Unpaid,19 Apr' 22,58 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",1,https://internshala.com/internship/detail/wix-...
176,Dance Fitness Instruction,Future Lab Studio,Gurgaon,2 Months,9000 /month,18 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/danc...
191,Research & Development - Chemist,Glocot Silicone Private Limited,Delhi,1 Month,7500-10000 /month,18 Apr' 22,40 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",1,https://internshala.com/internship/detail/rese...
192,Fundraising,Badlav Seva Samiti (NGO),Work From Home,1 Month,1000 /month + Incentives,18 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",20,https://internshala.com/internship/detail/fund...
216,Education Counseling,Sourav Sir's Classes,Kolkata,3 Months,3500-8500 /month,18 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",7,https://internshala.com/internship/detail/educ...
222,Qliksense Development,Exponentia.ai,Mumbai,6 Months,12000 /month,17 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Job o...",3,https://internshala.com/internship/detail/qlik...
226,Subject Matter Expert (Medical),Zealth-AI,Work From Home,6 Months,6000 /month + Incentives,17 Apr' 22,30 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/subj...
235,Social Media Marketing,Happy60Plus,Delhi,3 Months,6700 /month,17 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",1,https://internshala.com/internship/detail/soci...
239,Property Surveying,Tejarat Marketing,Noida,3 Months,6000 lump sum + Incentives,16 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Job o...",5,https://internshala.com/internship/detail/prop...
252,Operations,Matrix Exports,Bangalore,3 Months,5000-10000 /month,16 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",20,https://internshala.com/internship/detail/oper...
274,Sales & Marketing,Omnis Healthcare Services Private Limited,Work From Home,2 Months,7000 /month,15 Apr' 22,56 applicants,NaN,"Certificate , Flexible work hours , Job offer ,",10,https://internshala.com/internship/detail/sale...
296,Data Entry,Stirring Minds,Delhi,6 Months,3000-6000 /month,15 Apr' 22,209 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",10,https://internshala.com/internship/detail/data...
297,Business Analytics,Stirring Minds,Delhi,2 Months,5000-10000 /month,15 Apr' 22,433 applicants,NaN,"Certificate , Flexible work hours , Job offer ,",3,https://internshala.com/internship/detail/busi...
309,Virtual Assistance,AbroEduShip,Gurgaon,4 Weeks,3000-5000 /month,15 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",5,https://internshala.com/internship/detail/virt...
318,Social Media Marketing,CollegeTips.in,Indore,1 Month,2000-5000 /month,14 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",4,https://internshala.com/internship/detail/soci...
319,Social Media Marketing,CollegeTips.in,Bhopal,1 Month,2000-5000 /month,14 Apr' 22,Be an early applicant,NaN,"Certificate , Flexible work hours , Job offer ,",4,https://internshala.com/internship/detail/soci...
334,Operations,Great Kapital,Bangalore,3 Months,30000 /month,14 Apr' 22,191 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/oper...
338,Social Media Marketing,Boomingoz Enterprise Private Limited,Work From Home,2 Months,2000-4000 /month,14 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",5,https://internshala.com/internship/detail/soci...
341,Social Media Marketing,Khuraq Healthcare Private Limited,Work From Home,2 Months,5000-8000 /month,14 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",1,https://internshala.com/internship/detail/soci...
360,Web Development,Knowlexon Innovation And Technology Private Li...,Work From Home,3 Months,1000-7000 /month,13 Apr' 22,59 applicants,NaN,"Certificate , Letter of recommendation , Flexi...",3,https://internshala.com/internship/detail/web-...
393,Coaching,Little Kickers India,Bangalore,6 Months,10000 /month + Incentives,11 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/coac...
453,Personal Assistance,MeetUniversity,Work From Home,6 Months,5000 /month,15 Apr' 22,Be an early applicant,NaN,"Certificate , Letter of recommendation , Job o...",1,https://internshala.com/internship/detail/pers...

In [15]:
df.loc[df['Title'] == 'Content Writing', 'Skills Required'] = 'Engish Proficiency'

In [16]:
df.loc[df['Title'] == 'Personal Assistance', 'Skills Required'] = 'Communication Skills'

In [17]:
df.loc[df['Title'] == 'Web Development', 'Skills Required'] = 'Full Stack Development'

In [18]:
df.loc[df['Title'] == 'Social Media Marketing', 'Skills Required'] = 'Social Media Marketing'

In [19]:
df.loc[df['Title'] == 'Virtual Assistance', 'Skills Required'] = 'Communication  Skills'

In [20]:
df.loc[df['Title'] == 'Business Analytics', 'Skills Required'] = 'Data Analysis'

In [21]:
df.loc[df['Title'] == 'Data Entry', 'Skills Required'] = 'Microsoft Excel'

In [22]:
df.loc[df['Title'] == 'Property Surveying', 'Skills Required'] = 'Communication Skills'

In [23]:
df.loc[df['Title'] == 'Subject Matter Expert (Medical)', 'Skills Required'] = 'Medical Expert'

In [24]:
df.loc[df['Title'] == 'Qliksense Development', 'Skills Required'] = 'AI'

In [25]:
df.loc[df['Title'] == 'Education Counseling', 'Skills Required'] = 'Counseling'

In [26]:
# checking the data once
df.isnull().sum()

Title                  0
Company                0
Location               0
Duration               0
Stipend                0
Apply By               0
Applicants             0
Skills Required       16
Perks                  0
Number of Openings     0
Link                   0
dtype: int64

In [27]:
df["Skills Required"].fillna("Communication Skills", inplace = True)

In [28]:
# checking the data once
df.isnull().sum()

Title                 0
Company               0
Location              0
Duration              0
Stipend               0
Apply By              0
Applicants            0
Skills Required       0
Perks                 0
Number of Openings    0
Link                  0
dtype: int64

In [29]:
# checking the shape once again
df.shape

(462, 11)

In [30]:
df['Skills Required'].str.lower()

0                                   communication skills
1                                       sales, marketing
2                             android , java , python ,
3                                       culinary arts ,
4                                 full stack development
                             ...
457                     problem solving, pulic relations
458                                     sales, marketing
459    english proficiency (spoken) , english profici...
460    english proficiency (spoken) , english profici...
461    english proficiency (spoken) , english profici...
Name: Skills Required, Length: 462, dtype: object

In [31]:
df['Location'].str.lower()

0             chennai
1             kolkata
2        kanpur dehat
3               delhi
4              bhopal
            ...
457         ghaziabad
458           jodhpur
459    work from home
460    work from home
461    work from home
Name: Location, Length: 462, dtype: object

In [32]:
from nltk.tokenize import WordPunctTokenizer
def similarity_matrix_wo_tfidf(df):
    '''
    returns a similarity matrix, in the form of a dataframe, between different internships by using the 
    details section
    
    INPUT:
    df - dataframe with 'details' as one of the columns
    
    OUTPUT:
    sim - similarity matrix(dataframe) with internship id as column and row labels 
    
    '''
    details = df['Skills Required']
    vect = CountVectorizer(tokenizer= tokenize, stop_words = 'english')
    
    mat = vect.fit_transform(details).toarray()
    sim = np.dot(mat, mat.T)
    sim = pd.DataFrame(sim, columns=df.id, index = df.id)
    return sim

In [33]:
df.reset_index(inplace=True)

In [34]:
df.index.rename('ID')

RangeIndex(start=0, stop=462, step=1, name='ID')

In [35]:
df.head()

,index,Title,Company,Location,Duration,Stipend,Apply By,Applicants,Skills Required,Perks,Number of Openings,Link
0,0,Sales & Marketing,Decathlon Sport India Private Limited,Chennai,3 Months,10000 /month,19 Apr' 22,Be an early applicant,Communication Skills,"Certificate , Letter of recommendation , Flexi...",4,https://internshala.com/internship/detail/sale...
1,1,Business Development (Sales),Aditya Birla Capital,Kolkata,3 Months,2000-3000 /month,16 Apr' 22,52 applicants,"Sales, Marketing","Certificate , Letter of recommendation , Job o...",20,https://internshala.com/internship/detail/busi...
2,2,Teaching (Computer Programming),Nimble-Q,Kanpur Dehat,3 Months,1600 /week,24 Apr' 22,Be an early applicant,"Android , Java , Python ,","Certificate , Letter of recommendation , Job o...",1,https://internshala.com/internship/detail/teac...
3,3,Baking - Culinary,Prianka Khushwani,Delhi,6 Months,4000 /month,24 Apr' 22,Be an early applicant,"Culinary Arts ,","Certificate , Letter of recommendation , Flexi...",2,https://internshala.com/internship/detail/baki...
4,4,Web Development,Spring 360 Technology,Bhopal,3 Months,7000-20000 /month,24 Apr' 22,Be an early applicant,Full Stack Development,"Certificate , Letter of recommendation , Flexi...",8,https://internshala.com/internship/detail/web-...

In [36]:
sim_1 = similarity_matrix_wo_tfidf(df)
sim_1.to_csv('../data_for_notebooks/learnspeed_internshala_recommendation_matrix_wo_tfidf.csv', index = True)

NameError: name 'tokenize' is not defined

In [ ]:
from nltk.tokenize import tokenize

In [ ]:
from nltk.tokenize import tokenize
def tokenize(sentences):
    '''
    tokenizes a bunch of sentences after normalizing them and returns stemmed tokens.
    
    INPUT:
    sentences - a paragraph that need to be tokenized
    
    OUTPUT:
    tokens - list of stemmed tokens
    
    '''
    # normalizing, tokenizing, lemmatizing 
    sentences = re.sub('\W',' ',sentences) 
    sentences = re.sub('[0-9]',' ',sentences)

    tokens = word_tokenize(sentences)
    tokens = [i.strip() for i in tokens]
    
    stemmer = PorterStemmer()
    tokens = [stemmer.stem(i) for i in tokens]
    return tokens

In [ ]:
def similarity_matrix_w_lem(df):
    '''
    returns a similarity matrix, in the form of a dataframe, between different internships by using the 
    details section
    
    INPUT:
    df - dataframe with 'details' as one of the columns
    
    OUTPUT:
    sim - similarity matrix(dataframe) with internship id as column and row labels 
    
    '''
    details = df['Skills Required']
    vect = CountVectorizer(tokenizer= tokenize_lem, stop_words = 'english')
    tfidf = TfidfTransformer()
    
    mat = tfidf.fit_transform(vect.fit_transform(details).toarray()).toarray()
    sim = np.dot(mat, mat.T)
    sim = pd.DataFrame(sim, columns=df.id, index = df.id)
    return sim

In [ ]:
sim_2 = similarity_matrix_w_lem(df)
sim_2.to_csv('../data_for_notebooks/learn_speed_internshala_recommendation_matrix_w_lem.csv', index = True)